body {
  background-image: url("background3.jpg");
  margin: 0;
  font-family: "High Tower Text";
}

.login-header {
  display: flex;
  justify-content: space-between;
}
.logo-big {
  width: 300px;
}

.logo-small {
  width: 230px;
}

.login-header-right {
  width: 500px;
}

.login-header-right-top {
  height: 50px;
  border: none;
  border-bottom: solid 3px #48606c;
}

.login-header-right-bottom {
  display: flex;
  color: #48606c;
}

.display-tab {
  margin-top: 15px;
  padding: 3px;
  padding-left: 15px;
  padding-right: 15px;
  border: solid 1px #48606c;
}

.no-border-button {
  margin-top: 15px;
  padding: 3px;
  padding-left: 15px;
  padding-right: 15px;
}
.no-border-button2 {
  margin-top: 15px;
  padding: 3px;
  padding-left: 0;
  padding-right: 15px;
}

.noti {
  position: relative;
  display: inline-block;
}

.noti .badge {
  position: absolute;
  /* width: 20px; */
  background-color: #95b8cb;
  border-radius: 50%;
  top: -8px;
  right: 2px;
  padding: 1px 8px;
}

.badge {
  text-align: center;
  align-content: center;
  color: white;
}

.no-border-button:hover {
  cursor: pointer;
}

.login-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="text"],
input[type="password"],
input[type="number"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background: none;
}
.submit-btn {
  display: flex;
  justify-content: center;
}

input[type="submit"] {
  font-family: "High Tower Text";
  width: 40%;
  background-color: #354d5a;
  color: white;
  padding: 14px 20px;
  margin: 30px 0;
  margin-bottom: 10px;
  border: none;
  border-radius: 24px;
  cursor: pointer;
}
input::placeholder {
  color: red;
}

.login-form {
  border-radius: 5px;
  padding: 20px;
  width: 400px;
}
label {
  color: #9ba6ac;
}

.login-separator {
  display: flex;
  justify-content: center;
  color: #48606c;
}

.login-separator-inside {
  width: 25%;
  display: flex;
}

.login-hr {
  width: 100px;
  color: #354d5a;
  opacity: 0.5;
}

.login-signup-btn {
  display: flex;
  color: #48606c;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #48606c;
}

.signup-warning {
  display: none;
  color: #1381bc;
}

.tab {
  overflow: hidden;
  border: none;
  border-bottom: 1px solid #ccc;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: rgb(53, 77, 90, 0.3);
  color: #354d5a;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  color: #354d5a;
  padding: 20px 0;
}
.tablinks {
  color: rgb(53, 77, 90, 0.53);
  font-family: "High Tower Text";
}

.admin-body {
  padding: 2% 7%;
}

.pending-list-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  height: 30px;
}

.pending-list-item-email {
  align-items: center;
  display: flex;
}

.pending-list-item-btn {
  width: 300px;
  display: flex;
}

.pending-accept-btn {
  background-color: #354d5a;
  width: 80px;
  height: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #354d5a;
  margin-right: 10px;
  cursor: pointer;
}

.pending-reject-btn {
  border: solid 1px #354d5a;
  width: 80px;
  height: 30px;
  color: #354d5a;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.accepted {
  color: #1671a2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rejected {
  color: #ef5858;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination {
  margin-top: 20px;
}

.pagi-icon-left {
  cursor: pointer;
  margin-right: 5px;
}

.pagi-icon-right {
  cursor: pointer;
}

.search-body {
  display: flex;
  justify-content: space-between;
}

.search-form {
  flex: 3;
  /* background-color: red; */
  padding: 20px 70px;
}

.search-map {
  flex: 2;
  /* background-color: #48606c; */
}

.search-field {
  width: 70%;
}

.search-label {
  font-size: 13px;
}

input.search-input {
  margin: 5px 0;
  padding: 6px 10px;
}

.input-field-group {
  display: flex;
}

.search-warning {
  /* display: none; */
  color: #ef5858;
}

.search-middle {
  margin: 0 10px;
}

.find {
  justify-content: flex-end;
}

input.find-btn {
  opacity: 0.7;
  cursor: not-allowed;
  width: 24%;
  margin: 10px 0;
  font-size: 15px;
}

input.find-btn-active {
  opacity: 1;
  cursor: pointer;
}

.collapsible {
  background: none;
  /* color: white; */
  cursor: pointer;
  padding: 18px 0;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  color: #354d5a;
  font-family: "High Tower Text";
  font-size: 20px;
}

.active,
.collapsible:hover {
  background-color: #d4d4d7;
}

.collapsible:after {
  content: "\002B";
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  color: #354d5a;
  opacity: 0.66;
}

.map-img {
  width: 300px;
  position: relative;
}

.blink_me {
  background-color: #d4d4d7;
  animation: blinker 0.8s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.city {
  position: absolute;
  z-index: 50;
  background-color: #0d8ace;
  width: 11px;
  height: 11px;
  /* height: 1.5rem; */
  border-radius: 50%;
}

.tanger {
  margin-top: 90px;
  margin-left: 77px;
}

.tunis {
  margin-top: 104px;
  margin-left: 120px;
}

.dekanariskeøer {
  margin-top: 116px;
  margin-left: 34px;
}

.cairo {
  margin-top: 121px;
  margin-left: 187px;
}

.tripoli {
  margin-top: 124px;
  margin-left: 136px;
}
.suakin {
  margin-top: 170px;
  margin-left: 220px;
}

.kapguardafui {
  margin-top: 194px;
  margin-left: 270px;
}

.addisadeba {
  margin-top: 200px;
  margin-left: 237px;
}

.wadai {
  margin-top: 184px;
  margin-left: 132px;
}

.omdurman {
  margin-top: 162px;
  margin-left: 179px;
}

.sahara {
  margin-top: 148px;
  margin-left: 94px;
}

.timbuktu {
  margin-top: 179px;
  margin-left: 78px;
}

.dakar {
  margin-top: 172px;
  margin-left: 20px;
}

.marrakesh {
  margin-top: 129px;
  margin-left: 54px;
}

.sierraleone {
  margin-top: 209px;
  margin-left: 27px;
}

.guldkysten {
  margin-top: 224px;
  margin-left: 65px;
}

.slavekysten {
  margin-top: 223px;
  margin-left: 106px;
}

.darfur {
  margin-top: 201px;
  margin-left: 163px;
}

.bahrelghazal {
  margin-top: 221px;
  margin-left: 183px;
}

.victoria-søen {
  margin-top: 229px;
  margin-left: 204px;
}

.zanzibar {
  margin-top: 245px;
  margin-left: 237px;
}

.amatave {
  margin-top: 300px;
  margin-left: 268px;
}

.kapstmarie {
  margin-top: 330px;
  margin-left: 251px;
}

.dragebjerget {
  margin-top: 328px;
  margin-left: 208px;
}

.kapstaden {
  margin-top: 365px;
  margin-left: 163px;
}

.hvalbugten {
  margin-top: 327px;
  margin-left: 143px;
}

.luanda {
  margin-top: 277px;
  margin-left: 137px;
}

.sthelena {
  margin-top: 292px;
  margin-left: 37px;
}
.congo {
  margin-top: 249px;
  margin-left: 143px;
}

.kabalo {
  margin-top: 257px;
  margin-left: 179px;
}

.mocambique {
  margin-top: 295px;
  margin-left: 234px;
}

.victoriafaldene {
  margin-top: 309px;
  margin-left: 191px;
}

.diplay-warning {
  display: inline;
}
